body::-webkit-scrollbar {
  display: none;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html {
  scrollbar-width: none;
}

body {
  font-family: 'Roboto Slab', serif;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title {
  color: white;
  text-decoration: none;
  font-weight: 900;
  margin-left: 10px;
}

.containernav {
  border-bottom: 1px solid grey;
  padding: 8px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: black;
  color: white;
}

.navbar-container {
  position: sticky;
  top: 0px;
  z-index: 3;
}

.img {
  height: 60px;
  width: 60px;

  border-radius: 50%;
  margin-top: -6px;
}

.navigation-menu {
  margin-left: 25px;
  margin-top: 21px;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  background-color: #2c2929;
  list-style-type: none;
  margin: 0 1rem;
  padding: 5px;
  border-radius: 8px;
  min-width: 109px;
  text-align: center;
}

.navigation-menu li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.navigation-menu li a:hover {
  color: #B1F1FF
}

.hamburger {
  right: 25px;
  /* top: 50%; */
  position: absolute;
  display: none;
  background-color: black;
  border: 0;
  height: 50px;
  width: 50px;
}

/* ...........................................media queries screen..................................................... */
@media screen and (max-width:800px) {
  .hamburger {
    display: block;
  }
  .oops{
    /* font-size: 40px; */
  }

  .bothctn {
    justify-content: center;
    flex-wrap: wrap;
  }

  .searchbutton {
    display: none;
  }

  .searchinput {
    font-size: 16px;
  }

  .w-100.d-block {
    height: 210px;
  }

  .movielogo {
    width: 11rem;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh-77px);
    background-color: #0F0101;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
    border-radius: 0px;
  }

  .navigation-menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;

  }

  .navigation-menu li a:hover {
    color: black;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;

  }

  .navigation-menu.expanded {
    /* position: absolute; */
    z-index: 2;
    width: 100%;
    /* margin-top: 144px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
  }

}

/* .............................................ending media query.............................................................*/
.carousel-indicators .carousel-indicator {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators .carousel-indicator.active {
  opacity: 1;
}

/* .carousel-inner {
  height: 520px;

} */

.w-100 {
  height: 520px;
}

.movielogo {
  position: relative;
  height: 100%;
  width: 13rem;
}


.maindiv {
  display: flex;

  overflow: scroll;
  overflow-y: hidden;
  gap: 20px;
  background-color: black;
  color: rgb(165, 159, 159);
  padding: 20px;
  /* -webkit-scrollbar{width: 0 !important;} */
}

.maindiv::-webkit-scrollbar {
  display: none;
}

.contn {
  background-color: black;
  min-height: 600px;
  /* border-bottom: 1px solid grey; */
  /* border-bottom-style: dashed; */
}

.pagingbtn {
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: white;
}

.prevbtn {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  height: 35px;
  width: 60px;
}

.prevbtn:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.nextbtn {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  height: 35px;
  width: 60px;
}

.nextbtn:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.pageno {
  margin-left: 5px;
  margin-right: 5px;
  /* padding-top: 8px; */
  font-size: 20px;
}

.moviediv {
  border: 0.5px solid white;
  box-shadow: 2px 2px 10px grey;
  border-radius: 10px;
}

.Movieimage {
  height: 260px;
  width: 200px;
  border-radius: 10px;
}

.Movieimage:hover {
  filter: grayscale(100%);
  height: 280px;
  width: 220px;

}

.movietitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3px;

}

.rating-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  margin-top: -23px;
  color: black;
  border: none;
  border: 1px solid white;
  box-shadow: 0px 2px 4px white;
  margin-bottom: 5px;
  font-weight: 700;
  background-color: black;
  color: white;
}

.rating-button:hover {
  background-color: white;
  color: black;
}

/* .test{
  background-color: white;
  background:
    linear-gradient(-45deg, #000  40%, #fff 0 60%, #000  0) right/300% 100% no-repeat,
    linear-gradient(-45deg, #0000 40%, #000 0 60%, #0000 0) right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
}
.test:hover {
  background-position: left;
  transition: 0.8s
} */

.searchdiv {
  background-color: black;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
}

.welcome {
  font-size: 70px;
  color: white;
}

.spantag {
  color: white;
  font-size: 35px;

}

.searchinput {
  width: 80%;
  margin-top: 40px;
  height: 50px;
  border-radius: 100px;
  padding-left: 20px;
  font-size: 20px;
  border: none;
  color: black;
  outline: none;
}

.wdiv {
  border-bottom: 1px solid grey;
}

.searchbutton {
  height: 48px;
  border-radius: 100px;
  padding: 2px 9px 2px 10px;
  width: 91px;
  margin-left: -88px;
  border: none;
  background-color: white;
  background: linear-gradient(72deg, black, transparent);
  color: black;
  font-size: 20px;
  font-weight: 600
}

.searchbutton:hover {
  background-color: black;
  color: white;
}

.moviedetailsdiv {
  min-height: 550px;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.moviecnt {
  width: 100%;
  height: 550px;
}

.movieposter {
  display: flex;
  flex-direction: column;
  margin-left: 40px;

}

.mvimg:hover {
  height: 450px;
  width: 320px;
  filter: grayscale(100%);
}

.posterctn {
  display: flex;
  height: 550px;
  /* justify-content: center; */
  gap: 20px;
  overflow: auto;
  overflow-y: hidden;
  align-items: center;
  color: white;
}

.mvimg {
  height: 400px;
  width: 280px;
  border-radius: 10px;
}

.titlediv {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding: 60px;
  margin-top: 20px;
}

.genrediv {
  display: flex;
  gap: 4px;
}

.ratebtn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  margin-top: -23px;
  color: black;
  border: none;
  border: 1px solid white;
  box-shadow: 0px 2px 4px white;
  margin-bottom: 5px;
  font-weight: 700;
  background-color: black;
  color: white;
  left: 43%;
}

.ratebtn:hover {
  background-color: white;
  color: black;
}

.castimg {
  height: 200px;
  width: 180px;
  border-radius: 5px 5px 0px 0px;
}

.castctn {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  gap: 20px;
  width: 77.3%;

}

.castdiv {
  padding-left: 30px;
  padding-top: 20px;
}

.otherdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 20px; */
  padding-left: 40px;
  border: 1px solid grey;
  width: 250px;
  border-radius: 10px;

}

.castorgname {
  text-align: center;
  padding-top: 8px;
  margin-bottom: -2px;
overflow: hidden;
  font-weight: 600;
  color: black;
}

.castactname {
  text-align: center;
  margin-bottom: -2px;
  font-style: italic;
  overflow: hidden;
}

.carddiv {
  border: 1px solid lightgrey;
  height: 275px;
  border-radius: 5px;
  box-shadow: 1px 2px 14px grey;
}

.lbl {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.spn {
  color: black;
}

.bothctn {
  display: flex;
  margin-top: 20px;
  gap: 60px;
  /* justify-content: center;
    flex-wrap: wrap; */
}

.trailerimg {
  height: 355px;
  min-width: 480px;
  background-repeat: no-repeat;
  border: 1px solid grey;
  margin-bottom: 31px;
  border-radius: 5px;
  box-shadow: 2px 2px 14px #332727;
}

.allvideosdiv {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  gap: 20px;
  scroll-behavior: smooth;
}

.mediadiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: black;
  margin: 30px;
  border-radius: 10px;
  color: white;
}

.playbtnimg {
  height: 50px;
  width: 50px;
  position: relative;
  top: 39%;
  left: 45%;
  background-color: white;
  border-radius: 50%;
}

.playbtnimg:hover {
  height: 60px;
  width: 60px;
  top: 38%;
  left: 44%;

}

.shim-container {
  background-color: black;
}

.card-div {
  height: 260px;
  width: 200px;
  border-radius: 10px;
  background-color: #5c59598c;
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.shim-btn {
  width: 200px;
  height: 20px;
  border: none;
  outline: none;
  background-color: #5c59598c;
  border-radius: 5px;
  padding-top: 20px;
  margin-left: 20px;
}
.oops{
  background: #FF0000;
  background: linear-gradient(to top, #fb0d0d 16%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(10.375rem + 1.5vw);
  font-weight: 700; 
  /* font-size: 200px; */
}
.errorpage{
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F6F8F9;
  background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%);
  
}
.sorry{
  font-size: 18px;
    font-weight: bold;
}
.sorry-1{
  font-size: 25px;
    font-weight: bold;
}